
  <%
    if @xml.xpath( "/quiz" ).size > 0
      x = "quiz"
      y = "/#{x}/quiz_request_metadata/name"
    elsif @xml.xpath( "/quiz_request/completed_quiz_result" ).size > 0
      x = "quiz_request/completed_quiz_result"
      y = "/#{x}/quiz_recommendation_title"
    else
      x = "quiz_request"
      y = "/#{x}/quiz_request_metadata/name"
    end
  %>
  <% if @errors.size > 0 || flash[ :errors ] %>
    <div class="errorExplanation" id="errorExplanation">
      <h2>Please correct the following problems.</h2>
      <ul>
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
      <ul>
        <% flash[ :errors ].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% form_tag "#{@base_request_uri}#{ENV[ 'sport' ]}/surveys/#{@survey.id}/#{params[ :position ]}" do %>
    <input type="hidden" name="quiz_id" value="<%= @quiz.id %>" />
    <% if params[ :position ] %>
      <input type="hidden" name="quiz_page" value="<%= params[ :position ] %>" />
    <% end %>

    <% @xml.xpath( "/#{x}/quiz_request_metadata/post_parameter" ).each do |pp| %>
      <input type="hidden" name="<%= pp.xpath( "name" )[ 0 ].content %>" value="<%= pp.xpath( "value" )[ 0 ] .content %>" />
    <% end %>

    <% if( session[ :qiid ] && params[ :position ] ) %>
      <input type="hidden" name="qiid" value="<%= session[ :qiid] %>" />
    <% end %>

    <% if session[ :user_id ] %>
      <input type="hidden" name="user_id" value="<%= session[ :user_id ] %>" />
    <% end %>

    <% if !params[ :position ] %>
      <input type="hidden" name="partner_site_id" value="<%= @partner_site.id %>" />
    <% end %>
        
    <%
      if flash[ :submitted_answers ]
        @submitted_answers = flash[ :submitted_answers ].split( ',' )
      end
    %>

      <table style="width: 100%;">
        <caption style="text-align: left;">
          <div style="float:right; background: url(/images/surveys/synapse_progress_bar_bg.gif) no-repeat top left;">
            <div style="width: 394px; height: 37px;">
              <%
                  if @xml.xpath("/#{x}/quiz_request_metadata/total_quiz_phases").size > 0
                      completion_percentage = ((@xml.xpath("/#{x}/quiz_phase/position")[ 0 ].content.to_f / @xml.xpath("/#{x}/quiz_request_metadata/total_quiz_phases")[ 0 ].content.to_f) * 100).floor
                  else
                      completion_percentage = 0
                  end
              %>
              <div style="padding: 10px 25px 10px 25px;">
                <div style="float: right; width: 95%; text-align: center; color: #000;">
                  Your survey is <%= completion_percentage %>% complete
                </div>
                <div style="background: url(/images/surveys/synapse_progress_bar_on.gif) repeat-x top left; width: <%= completion_percentage %>%;">
                  <img src="/images/surveys/synapse_progress_bar_on.gif" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div style="text-align: center;">
            <strong><%= @xml.xpath("#{y}")[ 0 ].content %></strong>
            <br />
            <img src="/images/surveys/synapse_arrow_down.gif" alt="Please answer the questions below to continue" style="margin-top: 7px;" />
          </div>
          <% if !params[ :position ] %>
            <div style="margin-top: 10px; padding-top: 10px; font-size: .85em; color: #000; border-top: 1px #999 dashed; border-bottom: 1px #999 dashed; <%= ( flash[ :errors ] ) ? "background-color: #f99;" : "" %>">
              <strong>What is your email address?</strong>
              <input type="text" name="user[email]" value="<%=  flash[ :email ] %>" />
              <br /><br />
            </div>
          <% end %>
        </caption>
      
      <%
        first_answer = @xml.xpath("/#{x}/quiz_phase/quiz_question/answer_option/answer_option_text")[ 0 ].content
        congruous_answers = @xml.xpath("/#{x}/quiz_phase/quiz_question/answer_option[answer_option_text=\"#{first_answer}\"]").size
        number_of_answers = @xml.xpath("/#{x}/quiz_phase/quiz_question[position=1]/answer_option").size
        percentage_per_answer = (50/number_of_answers).floor
      %>
      
      <% if congruous_answers > 1 %>
        <% answer_row = @xml.xpath("/#{x}/quiz_phase/quiz_question")[ 0 ] %>
        <tr>
          <th>&nbsp;</th>
          <% answer_row.xpath("answer_option").each do |a| %>
            <th style="font-size: .85em;"><%= a.xpath("answer_option_text")[ 0 ].content %></th>
          <% end %>
        </tr>
      <% end %>

     <% questions = @xml.xpath("/#{x}/quiz_phase/quiz_question").each do |q| %>
       <% missed = true %>
       <% if @submitted_answers %>
         <% q.xpath("answer_option").each do |a| %>
           <%
              input_value = a.xpath("post_parameter/value")[ 0 ].content
              if @submitted_answers.member?( input_value )
                missed = false
              end
           %>
         <% end %>
       <% end %>
       <% missed = @submitted_answers && missed %>
        <tr style="vertical-align: center;">
          <td style="width: 50%;<%= ( missed ) ? "background-color: #f99;" : "" %>"><%= q.xpath("question_text")[ 0 ].content %></td>
           <% q.xpath("answer_option").each do |a| %>
             <%
               input_type = a.xpath("post_parameter/type")[ 0 ].content
               input_name = a.xpath("post_parameter/name")[ 0 ].content
               input_value = a.xpath("post_parameter/value")[ 0 ].content
               answer_text = a.xpath("answer_option_text")[ 0 ].content
               if missed
                 bg_string = "background-color: #f99;"
               elsif a.xpath( "position" )[ 0 ].content.to_i.even?
                 bg_string = ""
               else
                 bg_string = "background-color: #eee;"
               end
             %>
              <td style="width: <%= percentage_per_answer %>%; text-align: center; padding-top: 10px; padding-bottom: 10px; <%= bg_string %>">
                <input type="<%= input_type %>" name="<%= input_name %>" value="<%= input_value %>"
                  <%= ( @submitted_answers && @submitted_answers.member?( input_value ) ) ? "checked=\"checked\"" : "" %> />
                <%
                  if (congruous_answers <= 1 || (congruous_answers > 1 && q.xpath("position")[ 0 ].content.to_i == 6) || q.xpath("question_text")[ 0 ].content == "What was your purchase total?")
                %>
                  <div style="margin-top: 5px;">
                    <%= answer_text %>
                  </div>
                <% end %>
              </td>
           <% end %>
        </tr>
    <% end %>

    </table>
    <div style="text-align: right; margin: 10px;">
      <input type="submit" value="Continue" />
    </div>
    <% end %>
