<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Newsletter") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery-1.6.1' %>
    <%= yield(:head) %>
  </head>
  <body align="center">
    <div class="<%= body_classes %>">
      <div id="container">
        <!--h1>Subscribe to <%#= @newsletter.title %>!</h1-->

        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
