<h3>Popular Quizzes</h3><br />

<div class="post">
  <div class="post-left"><%= image_tag("rails.png") %></div>
  <div class="post-right">
    <h3><a href="<% dashboard_url(7) %>">Which Victoria’s Secret Angel Are You?</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis orci non risus accumsan auctor. Vivamus sollicitudin enim id libero sollicitudin elementum.</p>
<%#*<span class="line"></span>%>
  </div>
</div><!--End Blog Post-->

<div class="post">
  <div class="post-left"><%= image_tag("rails.png") %></div>
  <div class="post-right">
    <h3><a href="#">Are you growing apart from your friends?</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis orci non risus accumsan auctor. Vivamus sollicitudin enim id libero sollicitudin elementum.</p>
<%#*<span class="line"></span>%>
  </div>
</div><!--End Blog Post-->

<div class="post">
  <div class="post-left"><%= image_tag("rails.png") %></div>
  <div class="post-right">
    <h3><a href="#">Are you growing apart from your friends?</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis orci non risus accumsan auctor. Vivamus sollicitudin enim id libero sollicitudin elementum.</p>
<%#*<span class="line"></span>%>
  </div>
</div><!--End Blog Post-->

<div class="post">
  <div class="post-left"><%= image_tag("rails.png") %></div>
  <div class="post-right">
    <h3><a href="#">Are you growing apart from your friends?</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis orci non risus accumsan auctor. Vivamus sollicitudin enim id libero sollicitudin elementum.</p>
<%#*<span class="line"></span>%>
  </div>
</div><!--End Blog Post-->

<div class="post">
  <div class="post-left"><%= image_tag("rails.png") %></div>
  <div class="post-right">
    <h3><a href="#">Are you growing apart from your friends?</a></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis orci non risus accumsan auctor. Vivamus sollicitudin enim id libero sollicitudin elementum.</p>
<%#*<span class="line"></span>%>
  </div>
</div><!--End Blog Post-->
