<h1>New cobrand_group</h1>

<% form_for( [ :houston, cobrand ] ) do |f| %>
  <%= f.error_messages %>
  <% fields_for cobrand do |fld| %>
    <%=  fld.label :name, "Name: " %>
    <%=  fld.text_field :name %>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', houston_cobrand_groups_path %>