<script type="text/javascript" charset="utf-8">

  makeCharts = function() {
    <%

      @quiz_question_grouping.each do |name,grp|

        chart_name = "chart_question_#{name}"
        # need to build the series string based on answer information
        total_answers = grp.length
        series_member_sizes = []
        # let's try to come up with something meaningful for labels
        x_axis_labels_str = ""
        i = 1
        series_member_string = ""
        grp.subgroups.each do |name, agrp|
          series_member_sizes << agrp.length.to_f
          series_member_string << "{ y: #{agrp.length.to_f} },"
          x_axis_labels_str << "{ value: \"#{i}\", text: \"#{agrp.column( 'quiz_answer.answer' )[ 0 ][ 0..15 ]}\" },"
          i = i + 1
        end

        c_output = <<-testStr
var #{chart_name} = new dojox.charting.Chart2D("#{chart_name}-chart");
#{chart_name}.setTheme( dojox.charting.themes.PlotKit.cyan );
#{chart_name}.addAxis( "x", { labels: [ #{x_axis_labels_str} ] } );
#{chart_name}.addAxis( "y", { vertical: true, fixUpper: "major", includeZero: true } );
#{chart_name}.addPlot( "default", { type : "Columns", gap : "4" } );
#{chart_name}.addSeries( "Series1", [ #{series_member_string} ], { stroke : \"black\" } );
var #{chart_name}_tooltip = new dojox.charting.action2d.Tooltip( #{chart_name}, "default" );


#{chart_name}.render();
        testStr
##{chart_name}.addSeries( "Series1", [ #{series_member_sizes.join( ', ' )} ], { stroke : \"black\" } );
    %>
      <%= c_output %>
    <% end %>
 };

 dojo.addOnLoad( makeCharts );
     
</script>

<h1>Report</h1>
<h2>Some heading</h2>
<h3>Total Questions Answered: <%= @table.size %></h3>

<table width="500" cellspacing="0">
  <% @quiz_question_grouping.each do |name, group| %>
    <% times_answered = group.length %>
    <tr>
      <td colspan="2">
        <%= group.column( 'quiz_question.question' )[ 0 ] %>
        &nbsp; &nbsp;
        <%= group.length %>
      </td>
    </tr>
    <tr>
      <td nowrap>
        <div id="<%= "chart_question_#{name}-legend" %>"></div>
      </td>
      <td>
        <div id="<%= "chart_question_#{name}-chart" %>" style="width: 400px; height: 200px;"></div>
      </td>
    </tr>
  <% end %>
</table>

<%#= debug @unsorted_quiz_question_grouping %>

<hr />

<%#= debug @table %>